In [1]:
import mysql.connector as conn

In [2]:
mydb = conn.connect(host='localhost', user='root', passwd='L@kshmi2nagesh')

In [3]:
cursor = mydb.cursor()

In [5]:
cursor.execute("show databases")

In [6]:
for x in cursor:
    print(x)

('company',)
('information_schema',)
('mysql',)
('performance_schema',)
('practice',)
('sakila',)
('sys',)
('world',)

In [7]:
cursor.fetchall()

[]

In [8]:
cursor.execute("use company;")

In [9]:
cursor.execute("create database practice")

DatabaseError: 1007 (HY000): Can't create database 'practice'; database exists

In [1]:
import pandas as pd

In [3]:
df = pd.read_sql('db.sql')

TypeError: read_sql() missing 1 required positional argument: 'con'