### Q1. Why do we call Python as a general purpose and high-level programming language?

Python is  used for general purpose by solving different problems . It is high level because python is written in understandable language

<br>

### Q2. Why is Python called a dynamically typed language?

In python, whie writing code, we don't need to mention data type of a variable.  The type of variable is determined during runtime. That's why, python is called a dynamically typed language.

<br>

### Q3. List some pros and cons of Python programming language?

Pros: <br>
1. Python is beginner-friendly language to learn and portable( can run code on any OS) <br>
2. It has extensive libraries for various tasks <br>
3. It has large community <br>
4. It is very helpful for those who are into machine learning <br>

Cons: <br>
1. Python is slower compared to other compiled languages as it takes lot of computational power<br>
2. Python takes huge memory consumption <br>
3. While setting up work environment in python, many errors may appear. It's better to use an IDE<br>

<br>

### Q4. In what all domains can we use Python?

In following domains, python is being used for: <br>
1. Data Science <br>
2. Artificial Intelligence <br>
3. Machine Learning <br>
4. Deep Learning <br>
5. Web development <br>
6. Game development <br>
7. Scientific Programming <br>
8. OS development etc.,

<br>

### Q5. What are variable and how can we declare them?

Variable is a name given to a particular memory location. So, using that variable name, we can initialise any value into it or modify it using variable name. <br>

new_var = "something" <br>
int_var = 123

<br>

### Q6. How can we take an input from the user in Python?

In [42]:
# By using input() statement, we can take input from user in python.
# Example: 

user_name = input("what's your name ? : ")
print(f"Your name is {user_name}")

what's your name ? : sathya
Your name is sathya

<br>

### Q7. What is the default datatype of the value that has been taken as an input using input() function?

Default data type of input value is string type

<br>

### Q8. What is type casting?

In [43]:
#Type casting is about converting data type of a variable into another data type as required.
#Example:

int_var = 200
float_var = float(int_var)
print("data type of int_var : ", type(int_var))
print("data type of float_var : ", type(float_var))

data type of int_var :  <class 'int'>
data type of float_var :  <class 'float'>

<br>

### Q9. Can we take more than one input from the user using single input() function? If yes, how? If no, why?

In [44]:
# Using split() function, we can take multiple inputs

num1, num2 = input("Enter two numbers: ").split()
print(f"num1 is {num1}")
print(f"num2 is {num2}")

Enter two numbers: 12 34
num1 is 12
num2 is 34

<br>

### Q10. What are keywords?

Keywords are reserved words that have some meaning and are meant for specific purpose and can be used for only that purpose.

<br>

### Q11. Can we use keywords as a variable? Support your answer with reason.

Keywords can not be used for naming variables as keywords are meant for specific purpose.

<br>

### Q12. What is indentation? What's the use of indentaion in Python?

Indentation is nothing but giving a whitspace at starting line of the code.
Generally, in other programming languages,  it is meant for readability.
But in python, indentation is mandatory to <b>specify a block of code<b>.

<br>

### Q13. How can we throw some output in Python?

In [45]:
# We can output something in python using print() statement

print("something")

something

<br>

### Q14. What are operators in Python?

Operators in python are used to perform operations on variables and values.
There are different opeartors:
1. mathematical operators(+, -, *, /, //, %, **)
2. comparision operators(>, <, >=, <=, ==, !=)
3. assignment operator(=)
4. logical operators(and, or, not)
etc.

<br>

### Q15. What is difference between / and // operators?

In [46]:
# / is used for float division and // is used for integer division

num1 = 7
num2 = 2
print(f"float divison: {num1/num2}" )
print(f"integer division: {num1//num2}")

float divison: 3.5
integer division: 3

<br>

### Q16. Write a code that gives following as an output.
```
iNeuroniNeuroniNeuroniNeuron
```

In [48]:
for loop in range(4):
    print("iNeuron", end = '')

iNeuroniNeuroniNeuroniNeuron

<br>

### Q17. Write a code to take a number as an input from the user and check if the number is odd or even.

In [49]:
number = int(input("Enter a number to check if it's odd or even: "))
print(f"{number} is an Even number") if number%2==0 else print(f"{number} is an Odd number")

Enter a number to check if it's odd or even: 45
45 is an Odd number

<br>

### Q18. What are boolean operator?

In [50]:
# Boolean opeartors are "or", "not", "and". 
# They are used to finally get True or False value and
# used in conditional or looping statements to get execution of particular code based on conditions.

num1 = 1
num2 = 2
if num1==1 and num2==1:
    print("Both conditions need to be satisfied here")
if num1==1 or num2==1:
    print("Any one condition needs to be satisfied here")

Any one condition needs to be satisfied here

<br>

### Q19. What will the output of the following?
```
1 or 0

0 and 0

True and False and True

1 or 0 or 0
```

1 <br>
0 <br>
False <br>
1 <br>

<br>

### Q20. What are conditional statements in Python?

Conditionl statements in python represent having a condition and by satisfying the condition, code under that condition will get executed

There are 3 conditional statements in python: if, if-else, if-elif-else.

<br>

### Q21. What is use of 'if', 'elif' and 'else' keywords?

In [51]:
#  'if', 'elif' and 'else' keywords are used in conditional statements 
# if statement is used to execute code block under it if condition is true.
# elif statement is used after if statement, in case if statement is false, then it goes for the lif statement.
# else statement's code block get executed when above if and elif statements conditions are false

num = 3
if num==1:
    print("Number is 1")
elif num==2:
    print("Number is 2")
elif num==3:
    print("Number is 3")
else:
    print("other number")

Number is 3

<br>

### Q22. Write a code to take the age of person as an input and if age >= 18 display "I can vote". If age is < 18 display "I can't vote".

In [52]:
age = int(input("Enter your age to know if you can vote or not: "))
if age >= 18:
    print("I can vote")
elif age < 18 and age > 0:
    print("I can't vote")
else:
    print("Age can't be negative")

Enter your age to know if you can vote or not: 45
I can vote

<br>

### Q23. Write a code that displays the sum of all the even numbers from the given list.
```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [53]:
numbers = [12, 75, 150, 180, 145, 525, 50]

# print(sum(numbers))
# or

sum = 0
for each_num in numbers:
    sum += each_num
print(sum)

1137

<br>

### Q24. Write a code to take 3 numbers as an input from the user and display the greatest no as output.

In [54]:
num1, num2, num3 = input("Enter three numbers: " ).split()

# print(max(num1, num2, num3)) 
# or 

if num1 > num2 and num1 > num3:
    print(f"{num1} is the greatest number")
elif num2>num1 and num2>num3:
    print(f"{num2} is the greatest number")
else:
    print(f"{num3} is the greatest number")

Enter three numbers: 1 2 3
3 is the greatest number

<br>

### Q25. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop
```
numbers = [12, 75, 150, 180, 145, 525, 50]

In [55]:
numbers = [12, 75, 150, 180, 145, 525, 50]
new_list = []
for each_num in numbers:
    if each_num > 500:
        break
    elif each_num > 150:
        continue
    elif each_num%5 == 0:
        new_list.append(each_num)

print(new_list)

[75, 150, 145]

<br>

### Q26. What is a string? How can we declare string in Python?

In [1]:
# Strings are used to store unicode characters.
# They are declared by assigning them to a variable in single or double quotation marks

name = "Sam"
department = "CSE"
course = 'CSE101'
print(name, department, course)

Sam CSE CSE101

<br>

### Q27. How can we access the string using its index?

In [5]:
# A string can be accessed using its index by keeping it square brackets. Index starts from 0.
# -1 represents last character from the string
# str1[start_index : end_index : step], start_index is included, end_index is excluded, step represents how many indexes to step over

str1 = "This is good to know!"
print(str1[1]) # prints character at index 1
print(str1[:]) # prints entire string
print(str1[10:15]) # prints string from index 10 to index 15
print(str1[::-1]) # prints string in reverse order

h
This is good to know!
od to
!wonk ot doog si sihT

<br>

### Q28. Write a code to get the desired output of the following
```
string = "Big Data iNeuron"
desired_output = "iNeuron"
```

In [12]:
string = "Big Data iNeuron"
# print(string[-7:])
# or 
print(string[9:])

iNeuron

<br>

### Q29. Write a code to get the desired output of the following
```
string = "Big Data iNeuron"
desired_output = "norueNi"
```

In [15]:
string = "Big Data iNeuron"
sub_string = string[9:]
print(sub_string[::-1])

norueNi

<br>

### Q30. Reverse the string given in the above question.

In [17]:
string = "Big Data iNeuron"
print(string[::-1])

norueNi ataD giB

<br>

### Q31. How can you delete entire string at once?

In [4]:
string = "Big Data iNeuron"
print(string)
# del string
# or 
string = ""
print(string)

Big Data iNeuron

<br>

### Q32. What is escape sequence?

In [6]:
# An escape character('\') is used to avoid getting errors when illegal characters are used in a string
print('I am naresh\'s friend')
print("i am good. \nThis is something new")

I am naresh's friend
i am good.
This is something new

<br>

### Q33. How can you print the below string?
```
'iNeuron's Big Data Course'
```

In [8]:
print('iNeuron\'s Big Data Course')

iNeuron's Big Data Course

<br>

### Q34. What is a list in Python?

In [14]:
# List is a built-in data type in python. It is used to store multiple values in a single variable.

<br>

### Q35. How can you create a list in Python?

In [15]:
# List is created by placing elements in a square bracket and separated by comma

list1 = [1,2,3,"sam",23.456,"sjsdkfgs32"]
print(list1)

[1, 2, 3, 'sam', 23.456, 'sjsdkfgs32']

<br>

### Q36. How can we access the elements in a list?

In [18]:
# Elements in a list can be accessed by it's index number. Index starts from 0

list1 = [1,2,3,"sam",23.456,"sjsdkfgs32"]
print(list1[2])
print(list1[:4])

3
[1, 2, 3, 'sam']

<br>

### Q37. Write a code to access the word "iNeuron" from the given list.
```
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
```

In [20]:
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
print(lst[4][2])

iNeuron

<br>

### Q38. Take a list as an input from the user and find the length of the list.

In [23]:
user = input("Enter a list of numbers and separate each element using comma : ").split(',')
print(f"Length of the list is {len(user)}")

Enter a list of numbers and separate each element using comma : 1,2,3,4 ,5,4,5,4
Length of the list is 8

<br>

### Q39. Add the word "Big" in the 3rd index of the given list.
```
lst = ["Welcome", "to", "Data", "course"]
```

In [26]:
lst = ["Welcome", "to", "Data", "course"]
lst.insert(2, "Big")
print(lst)

['Welcome', 'to', 'Big', 'Data', 'course']

<br>

### Q40. What is a tuple? How is it different from list?

In [31]:
# Tuple is also used to store multiple values in a single variable.
# In tuple, elements are unchangeable( immutable)
# Tuple is represented using round brackets and elements are separated by comma.

tuple1 = ("Welcome", "to", "Data", "course")
print(tuple1)
# tuple[1]="sam" is not allowed

('Welcome', 'to', 'Data', 'course')

<br>

### Q41. How can you create a tuple in Python?

In [32]:
tuple1 = ("Welcome", "to", "Data", "course")
print(tuple1)

('Welcome', 'to', 'Data', 'course')

<br>

### Q42. Create a tuple and try to add your name in the tuple. Are you able to do it? Support your answer with reason.

In [35]:
tuple2 = ("sam", "sunny")
tuple2[1]="swaroop"
# adding element to a tuple is not possible as elemnts in tuple are immutable

TypeError: 'tuple' object does not support item assignment

<br>

### Q43. Can two tuple be appended. If yes, write a code for it. If not, why?

In [36]:
tuple1 = ("sam", "sunny", "tom")
tuple2 = ("sandy", "sachin")
tuple3 = tuple1 + tuple2
print(tuple3)

('sam', 'sunny', 'tom', 'sandy', 'sachin')

<br>

### Q44. Take a tuple as an input and print the count of elements in it.

In [41]:
user = tuple(input("Enter a list of numbers and separate each element using comma : ").split(','))
print(user)
print(f"Length of the tuple is {len(user)}")

Enter a list of numbers and separate each element using comma : 1,2,3,4,sam,345
('1', '2', '3', '4', 'sam', '345')
Length of the tuple is 6

<br>

### Q45. What are sets in Python?

In [ ]:
# set is a built-in data type in python. It used to store multiple items in a variable. Sets are unordered and immutable.

<br>

### Q46. How can you create a set?

In [1]:
# A set can be created by keeping elements in curly brackets separated by comma

<br>

### Q47. Create a set and add "iNeuron" in your set.

In [9]:
new_set = {"iNeuron"}
print(new_set)

{'iNeuron'}

<br>

### Q48. Try to add multiple values using add() function.

In [10]:
new_set.add("sam")
new_set.add("sunny")
new_set.add("sally")
print(new_set)

{'sam', 'sunny', 'iNeuron', 'sally'}

<br>

### Q49. How is update() different from add()?

In [15]:
# update() will update current set by adding another set into it 
# add() will just add element into it

set1 = {"a", "b", "c"}
set2 = {"d", "e", "f"}
set3 = {"g", "h", "i"}
set1.update(set2)
print(set1)
set1.add("j")
print(set1)
set1.update(set3)
print(set1)

{'f', 'c', 'd', 'b', 'a', 'e'}
{'f', 'c', 'd', 'b', 'a', 'j', 'e'}
{'g', 'c', 'b', 'i', 'e', 'f', 'd', 'a', 'j', 'h'}

<br>

### Q50. What is clear() in sets?

In [18]:
# clear removes all elements from the set

set1.clear()
print(set1)

set()

<br>

### Q51. What is frozen set?

In [25]:
# frozen set creates a immutable  set object  from an iterable.
list1 = [1,2,3,4]
tuple1 = ("sam", "sunny", "tom")
dict1= {"a":"soory",
        "b":"sammy"  
       }
fs1 = frozenset(list1)
print(fs1)
fs2 = frozenset(tuple1)
print(fs2)
fs3 = frozenset(dict1)
print(fs3)

frozenset({1, 2, 3, 4})
frozenset({'sam', 'sunny', 'tom'})
frozenset({'b', 'a'})

<br>

### Q52. How is frozen set different from set?

In [26]:
# frozen sets are immutable version of set objects in python whereas set elements can be modified.

<br>

### Q53. What is union() in sets? Explain via code.

In [31]:
# union() will return a set containing all items from both sets but duplicate items are not included.

set1 = {"a", "b", "c"}
set2 = {"d", "e", "f"}
set3 = {"g", "h", "i", "f", "d"}
print(set1.union(set2))
print(set2.union(set3))

{'f', 'c', 'd', 'b', 'a', 'e'}
{'g', 'i', 'e', 'f', 'd', 'h'}

<br>

### Q54. What is intersection() in sets? Explain via code.

In [36]:
# intersection() will return a set contain similar items in both(two or more) sets.

set1 = {"a", "b", "c", "d", "g"}
set2 = {"d", "e", "f", "g"}
set3 = {"g", "h", "i", "f", "d", "a", "c"}
print(set1.intersection(set2))
print(set2.intersection(set3))
print(set3.intersection(set1, set2))

{'g', 'd'}
{'g', 'f', 'd'}
{'g', 'd'}

<br>

### Q55. What is dictionary ibn Python?

In [ ]:
# dictionaries in pyhton are used to store data values in key:value pairs. They are ordered, don't allow duplicates.

<br>

 ### Q56. How is dictionary different from all other data structures.

In [38]:
# dictionary store data values in key:vaule pairs in a map like structure whereas other data types hold single value as an element.
# dictionaries in python have hashable object which contains the pointer to key object and value object.

<br>

### Q57. How can we delare a dictionary in Python?

In [39]:
# Dictionaries are written in curly brcakets, have key : values separated by comma.

dict1 = {
        "a":"sam",
        "b":"sunny",
        "c":"sum"
}
print(dict1)

{'a': 'sam', 'b': 'sunny', 'c': 'sum'}

<br>

### Q58. What will the output of the following?
```
var = {}
print(type(var))
```

In [13]:
var = {}
print(type(var))

<class 'dict'>

<br>

### Q59. How can we add an element in a dictionary?

In [43]:
# An element can be added to the dictionary by indexing a key and assigning a value.

dict1 = {
        "a":"sam",
        "b":"sunny",
        "c":"sum"
}
print(dict1)
dict1["d"]= "something"
print(dict1)

{'a': 'sam', 'b': 'sunny', 'c': 'sum'}
{'a': 'sam', 'b': 'sunny', 'c': 'sum', 'd': 'something'}

<br>

### Q60. Create a dictionary and access all the values in that dictionary.

In [47]:
dict1 = {
        "a":"sam",
        "b":"sunny",
        "c":"sum"
}
print(dict1["a"])
print(dict1["b"])
print(dict1["c"])

sam
sunny
sum

<br>

### Q61. Create a nested dictionary and access all the element in the inner dictionary.

In [49]:
dict2 = {
        "sam": {
            "department" : "cse",
            "domain": "cybersecurity"
        },
        "sunny": {
            "department" : "csit",
            "domain": "ml engineer"
        }
}
print(dict2["sam"]["department"])
print(dict2["sam"]["domain"])
print(dict2["sunny"]["department"])
print(dict2["sunny"]["domain"])

cse
cybersecurity
csit
ml engineer

<br>

### Q62. What is the use of get() function?

In [50]:
# get() returns the value of a specified key

dict2 = {
        "sam": {
            "department" : "cse",
            "domain": "cybersecurity"
        },
        "sunny": {
            "department" : "csit",
            "domain": "ml engineer"
        }
}
print(dict2.get("sam"))

{'department': 'cse', 'domain': 'cybersecurity'}

<br>

### Q63. What is the use of items() function?

In [51]:
# items() will return a list containinga  tuple for each key value pair

dict2 = {
        "sam": {
            "department" : "cse",
            "domain": "cybersecurity"
        },
        "sunny": {
            "department" : "csit",
            "domain": "ml engineer"
        }
}
print(dict2.items())

dict_items([('sam', {'department': 'cse', 'domain': 'cybersecurity'}), ('sunny', {'department': 'csit', 'domain': 'ml engineer'})])

<br>

### Q64. What is the use of pop() function?

In [54]:
# pop() removes the element with the specified key

dict2 = {
        "sam": {
            "department" : "cse",
            "domain": "cybersecurity"
        },
        "sunny": {
            "department" : "csit",
            "domain": "ml engineer"
        }
}
dict2.pop("sam")
print(dict2)

{'sunny': {'department': 'csit', 'domain': 'ml engineer'}}

<br>

### Q65. What is the use of popitem() function?

In [58]:
#popitem() removes the last inserted key-value pair

dict2 = {
        "sam": {
            "department" : "cse",
            "domain": "cybersecurity"
        },
        "sunny": {
            "department" : "csit",
            "domain": "ml engineer"
        }
}
print(dict2.popitem())
print(dict2)

('sunny', {'department': 'csit', 'domain': 'ml engineer'})
{'sam': {'department': 'cse', 'domain': 'cybersecurity'}}

<br>

### Q66. What is the use of keys() function?

In [62]:
# keys() will return the list of all keys in the given dictionary

dict1 = {
        "a":"sam",
        "b":"sunny",
        "c":"sum"
}

print(dict1.keys())

dict_keys(['a', 'b', 'c'])

<br>

### Q67. What is the use of values() function?

In [63]:
# keys() will return the list of all values in the given dictionary

dict1 = {
        "a":"sam",
        "b":"sunny",
        "c":"sum"
}

print(dict1.values())

dict_values(['sam', 'sunny', 'sum'])

<br>

### Q68. What are loops in Python?

In [64]:
# In python looping statements are used to run a certain block of code repeatedly until a certain condition is satisfied.

<br>

### Q69. How many type of loop are there in Python?

In [ ]:
# for loop and  while loop

<br>

### Q70. What is the difference between for and while loops?

In [68]:
# for loop is used to iterate over a sequence(list, tuple, set, dictionary, string)
# in for loop, indexing variable declaration is not required beforehand

# while loop runs a block of code until the condition satifies, indexing variable has to be declared and 
# incrementation has to be declared correctly

<br>

### Q71. What is the use of continue statement?

In [69]:
# continue statement will stop the execution of its below statements and move to the next iteration in the loop.

for i in range(10):
    if i%2==0:
        continue
    else:
        print(i)

1
3
5
7
9

<br>

### Q72. What is the use of break statement?

In [70]:
# break statement is used to break the loop and come out of the loop.

for i in range(10):
    if i>=6:
        break
    else:
        print(i)

0
1
2
3
4
5

<br>

### Q73. What is the use of pass statement?

In [71]:
# pass statement is used to pass to the next line without giving any error, basically it won't do anything.

for i in range(10):
    pass

<br>

### Q74. What is the use of range() function?

In [72]:
# range() is used to generate  arange of values. 
# range(start, stop, step) 
# start is inclusive, stop is exclusive

for i in range(10,20,2):
    print(i)

10
12
14
16
18

<br>

### Q75. How can you loop over a dictionary?

In [79]:
# using for loop and items() or keys() or values(), we can loop over a dictionary.

dict1 = {
        "a":"sam",
        "b":"sunny",
        "c":"sum",
        "d":"antony"
}
print("using items() function")
for key, value in dict1.items():
    print(f"{key} : {value}")
print()
print("using keys() function")
for key in dict1.keys():
    print(f"{key} : {dict1[key]}")
print()

using items() function
a : sam
b : sunny
c : sum
d : antony

using keys() function
a : sam
b : sunny
c : sum
d : antony

<br>

## Coding problems

<br>

### Q76. Write a Python program to find the factorial of a given number.

In [84]:
def factorial(num):
    ans = 1
    for i in range(2,num+1):
        ans *= i
    return ans

user = int(input("Enter a  number to find it's factorial: "))
print(f"Factorial of {user} is {factorial(user)}")

Enter a  number to find it's factorial: 5
Factorial of 5 is 120

<br>

### Q77. Write a Python program to calculate the simple interest. Formula to calculate simple interest is SI = (P*R*T)/100

In [90]:
def simple_interest(principal, rate, time):
    interest = (principal*rate*time)/100
    return interest

print("Enter details to calculate simple interest")
principal = float(input("Enter principal($): "))
rate = float(input("Enter rate: "))
time = float(input("Enter time: "))
print(f"Simple Interest is ${simple_interest(principal,rate,time)} ")

Enter details to calculate simple interest
Enter principal($): 10000
Enter rate: 2.56
Enter time: 2
Simple Interest is $512.0

<br>

### Q78. Write a Python program to calculate the compound interest. Formula of compound interest is A = P(1+ R/100)^t.

In [ ]:
def compound_interest(principal, rate, time):
    interest = principal(1+rate/100)
    return interest

print("Enter details to calculate simple interest")
principal = float(input("Enter principal($): "))
rate = float(input("Enter rate: "))
time = float(input("Enter time: "))
print(f"Compound Interest is ${compound_interest(principal,rate,time)} ")

<br>

### Q79. Write a Python program to check if a number is prime or not.

In [95]:
def is_prime(num):
    for i in range(2,num):
        if num%i ==0:
            return False
    return True
    
user = int(input("Enter a number to check if it's prime number or not: "))

print(f"{user} is a Prime number") if is_prime(user) else print(f"{user} is not a Prime number")

Enter a number to check if it's prime number or not: 83
83 is a Prime number

<br>

### Q80. Write a Python program to check Armstrong Number.

In [1]:
def armstrong(num, digit):
    temp = num 
    ans =0 
    while(num>0):
        rem = num%10
        ans += pow(rem, digit)
        num //= 10
    return True if ans==temp else False

digit = int(input("mention for which n- numbered digit, armstrong number is to be calculated:  "))
user = int(input(f"Enter a  {digit}-numbered digit: "))
print(f"{user} is an armstrong number") if armstrong(user, digit) else print(f"{user} is not an armstrong number")

mention for which n- numbered digit, armstrong number is to be calculated:  3
Enter a  3-numbered digit: 371
371 is an armstrong number

<br>

### Q81. Write a Python program to find the n-th Fibonacci Number.

<br>

### Q82. Write a Python program to interchange the first and last element in a list.

In [2]:
list1 = [1,2,3,4,5,6,7,8,9,10]
temp = list1[0]
list1[0] =list1[9]
list1[9] = temp
print(list1)

[10, 2, 3, 4, 5, 6, 7, 8, 9, 1]

<br>

### Q83. Write a Python program to swap two elements in a list.

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]

<br>

### Q84. Write a Python program to find N largest element from a list.

<br>

### Q85. Write a Python program to find cumulative sum of a list.

<br>

### Q86. Write a Python program to check if a string is palindrome or not.

In [5]:
def palindrome(num):
    temp = num
    ans = 1
    while num>0:
        rem = num%10
        ans = ans*10+rem
        num //= 10
    return True if ans==temp else False

user = int(input("Enter a number to check if it's palindrome number or not: "))
print(f"{user} is a palindrome number") if palindrome(user) else print(f"{user} is not a palindrome number")

Enter a number to check if it's palindrome number or not: 121
121 is not a palindrome number

<br>

### Q87. Write a Python program to remove i'th element from a string.

<br>

### Q88. Write a Python program to check if a substring is present in a given string.

<br>

### Q89. Write a Python program to find words which are greater than given length k.

In [5]:
list1 = ['sam', 'sunny', 'sum', 'antony', 'decent', 'criminal', 'by']
user = int(input("Enter length  to find words which are greater than the given length: "))
list2 = []
for item in list1:
    if len(item)>user:
        list2.append(item)
        
print(list2)

Enter length  to find words which are greater than the given length: 3
['sunny', 'antony', 'decent', 'criminal']

<br>

### Q90. Write a Python program to extract unquire dictionary values.

<br>

### Q91. Write a Python program to merge two dictionary.

<br>

### Q92. Write a Python program to convert a list of tuples into dictionary.
```
Input : [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
Output : {'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}
```

In [8]:
list1 = [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
dict1 ={}
for item in list1:
    dict1[item[0]] = item[1]
    
print(dict1)

{'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

<br>


### Q93. Write a Python program to create a list of tuples from given list having number and its cube in each tuple.
```
Input: list = [9, 5, 6]
Output: [(9, 729), (5, 125), (6, 216)]
```

In [7]:
def cube(num):
    return (num, num*num*num)

list1 = [9, 5, 6]
final = []
for item in list1:
    ans = cube(item)
    final.append(ans)

print(final)

[(9, 729), (5, 125), (6, 216)]

<br>

### Q94. Write a Python program to get all combinations of 2 tuples.
```
Input : test_tuple1 = (7, 2), test_tuple2 = (7, 8)
Output : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]
```

<br>

### Q95. Write a Python program to sort a list of tuples by second item.
```
Input : [('for', 24), ('Geeks', 8), ('Geeks', 30)] 
Output : [('Geeks', 8), ('for', 24), ('Geeks', 30)]
```

In [ ]:
tuple1 = [('for', 24), ('Geeks', 8), ('Geeks', 30)]

print

<br>

### Q96. Write a python program to print below pattern.
```
* 
* * 
* * * 
* * * * 
* * * * * 
```

<br>

### Q97. Write a python program to print below pattern.
```
    *
   **
  ***
 ****
*****
```

<br>

### Q98. Write a python program to print below pattern.
```
    * 
   * * 
  * * * 
 * * * * 
* * * * * 
```

<br>

### Q99. Write a python program to print below pattern.
```
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
```

In [12]:
for i in range(5):
    for j in range(i+1):
        print(j+1," ", end="")
    print()

1
1  2
1  2  3
1  2  3  4
1  2  3  4  5

<br>

### Q100. Write a python program to print below pattern.
```
A 
B B 
C C C 
D D D D 
E E E E E 
```

In [10]:
list1 = ['A', 'B', 'C', 'D', 'E']

for i in range(5):
    for j in range(i+1):
        print(list1[i]," ", end="")
    print()

A
B  B
C  C  C
D  D  D  D
E  E  E  E  E

<br>